@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN/DIN Alternate Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN/DIN Alternate.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN/DIN Alternate Bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN/DIN Alternate Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN/DIN Alternate Black.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Heading';
  src: url('../fonts/Heading/HeadingPro-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Slab';
  src: url('../fonts/Roboto-Slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto-Slab';
  src: url('../fonts/Roboto-Slab/RobotoSlab-Thin.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Roboto-Slab';
  src: url('../fonts/Roboto-Slab/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Roboto-slab';
  src: url('../fonts/Roboto-Slab/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
}