@import '../imports.scss';

.paginator {
    padding-right: 6rem;
    height: 100%;
    flex-grow: 1;
}

.parent-container {
    background-color: $mint-cream;
    height: 100%;
    .child-container {
        background-color: $mint-cream;
    }
    .navbar {
        background-color: $mint-cream;
        .form-inline {
            position: relative;
            top: 1px;
            input {
                border: none;
                background-color: $mint-cream;
                font-size: .95rem;
            }
            input:focus {
                border: none;
                box-shadow: none;
                color: $dark-gunmetal;
            }
            .btn-search {
                position: relative;
                top: -4px;
            }
        }
        .logo-lg {
            margin-left: $mg-double;
            height: 3.5rem;
        }
        .navbar-nav {
            padding-right: 5rem;
            .nav-link {
                padding-left: $mg-small;
                padding-right: $mg-small;
            }
        }
        .top-nav-item {
            border-bottom: .3rem solid $dark-gunmetal;
            transition: border .25s ease-in-out;
        }
        .top-nav-item.active {
            border-bottom-color: $burnt-orange;
        }
        .top-nav-item:hover,
        .top-nav-item:active,
        .top-nav-item:focus {
          border-bottom-color: $burnt-orange;
        }
    }
    .app-body {
        padding-top: 5.1rem;
    }
}