@import '../imports.scss';

#index-list {
    padding: $mg-small $mg-small $mg-small $mg-big;
    width: 24rem;
}

.menu-item {
    padding: .25rem 0px;
    border:  none;
    background-color: $mint-cream;
    .book-name {
        span {
            i {
                font-size: .8rem
            }
        }
    }
    &:focus, &:hover {
        background-color: $mint-cream;
        outline: none;
    }
}

.ols {
    padding: 0 $mg-double;
}
